# Dependencies
node_modules/

# Environment variables
.env

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
/blob-report/

# Allure Report
/allure-results/

# TypeScript build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
